@icon-size: 150px;

/** {*/
  /*font-family: 'Leckerli One', cursive;*/
/*}*/

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
	color: @gray-light;
}

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon-text {
  text-align: center;
}

.icon {
  padding-bottom: 100%;
}

.home-icon {
  background: url('../images/logo.png') no-repeat center center;
  background-size: 100%;
}

.speakeasy-icon {
  background: url('../images/icons/speakeasy.gif') no-repeat;
  background-size: 100%;
}

.cartel-icon {
  background: url('../images/icons/cartel.gif') no-repeat;
  background-size: 100%;
}

.nightlife-icon {
  background: url('../images/icons/nightlife.gif') no-repeat;
  background-size: 100%;
}

.artwork-icon {
  background: url('../images/icons/artwork.gif') no-repeat;
  background-size: 100%;
}

.sounds-icon {
  background: url('../images/icons/sounds.gif') no-repeat;
  background-size: 100%;
}
