@icon-size: 150px;

/** {*/
  /*font-family: 'Leckerli One', cursive;*/
/*}*/

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
	color: @gray-light;
}

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon-text {
  text-align: center;
}

.icon-container {
  min-width: 100px;
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;
}

.icon(@img) {
  background: url("../images/icons/@{img}") no-repeat center center;
  background-size: 100%;
  padding-bottom: 100%;
}

.brand-icon {
  background: url("../images/logo.png") no-repeat center center;
  background-size: 100%;
  padding-bottom: 40%;
}

.speakeasy-icon {
  .icon('speakeasy.gif')
}

.cartel-icon {
  .icon('cartel.gif')
}

.nightlife-icon {
  .icon('nightlife.gif')
}

.artwork-icon {
  .icon('artwork.gif')
}

.sounds-icon {
  .icon('sounds.gif')
}

.joinus-icon {
  .icon('joinus.gif')
}
